{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 7
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "plugins": ["react"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/ignore": ["node_modules"]
  },
  "rules": {
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0
  }
}
